@import url('reset.css');

#outer-wrapper {
  display:flex;
  flex-flow: row wrap;
  width: 100vw;
  height: 100vh;
  margin:0 auto;
  background-color: green;
/*   border: 1px solid black */
}

#vs{
  width: 200px; 
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -70px 0 0 -170px;
  z-index: 100;
/*   border: 1px solid black; */
}

.movie-poster-one-bg{
  width: 50vw;
  height: 100vh;
  background-color: orange;
/*   border: 1px solid black; */
}
  
 .movie-poster-two-bg{
  width: 50vw;
  height: 100vh;
  background-color: yellow;
/*   border: 1px solid black; */
}

/* #generate{
  background-color: FireBrick;
  width: 200px;
  height: 50px;
  border-radius: 40px;
  align-height: 50px;
  box-shadow: inset 0 0 20px black;
} */





